body {
    font-family: "OutfitLight";
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 50%, 16%);
    width: 25rem;
    border-radius: 18px;
    padding: 20px 5px;
}

header {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.image {
    width: 100%;
    display: block;
    border-radius: 18px;
    background-color: hsl(178, 100%, 50%);
}

.view-container {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease;
}

.view {
    opacity: 0;
    transition: opacity .5s ease;
}

.view-container:hover {
    background-color: rgba(0, 255, 247, 0.3);
    cursor: pointer;
}

.view-container:hover .view {
    opacity: 1;
}

.description {
    color: hsl(215, 51%, 70%);
    margin-right: 20px;
}

section {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

section p {
    font-size: 16px;
    font-family: OutfitSemiBold;
}

section div {
    display: flex;
    align-items: center;
}

.svg-img {
    height: 15px;
    margin-right: 5px;
}

.price{
    color: hsl(178, 100%, 50%);
}

.time, .user {
    color: hsl(215, 51%, 70%);
}

footer {
    display: flex;
    align-items: center;
}

.user-image {
    height: 35px;
    margin-right: 15px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.user {
    font-size: 16px;
}

.user span {
    color: white;
}

.user span:hover, .title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: color .5s ease;
}

.title, .description, section, footer {
    margin-left: 20px;
}

.line {
    width: 90%;
    background-color: hsl(215, 32%, 27%);
    height: 2px;
    margin: 10px auto;
    border-radius: 100%;
}

